In [1]:
import pandas as pd

In [2]:
import pandas as pd

data = {
    "Shravan": {"Enrollment No.": 225, "Branch": "CSE", "CGPA": 7.5},
    "Jitu": {"Enrollment No.": 250, "Branch": "CSE", "CGPA": 7.0},
    "Ram": {"Enrollment No.": 249, "Branch": "CSE", "CGPA": 9.1},
}

# Using pd.DataFrame directly
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

               Shravan Jitu  Ram
Enrollment No.     225  250  249
Branch             CSE  CSE  CSE
CGPA               7.5  7.0  9.1

In [3]:
type(df)

pandas.core.frame.DataFrame

In [13]:
import pandas as pd
data = {
    "Shravan": {"Enrollment No.": 225, "Branch": "CSE", "CGPA": 7.5},
    "Jitu": {"Enrollment No.": 250, "Branch": "CSE", "CGPA": 7.0},
    "Ram": {"Enrollment No.": 249, "Branch": "CSE", "CGPA": 9.1},
}

df1 = pd.DataFrame.from_dict(data)
print(df1)

               Shravan Jitu  Ram
Enrollment No.     225  250  249
Branch             CSE  CSE  CSE
CGPA               7.5  7.0  9.1

In [14]:
type(df1)

pandas.core.frame.DataFrame

In [15]:
import pandas as pd

data = {
    "Shravan": {"Enrollment No.": 225, "Branch": "CSE", "CGPA": 7.5},
    "Jitu": {"Enrollment No.": 250, "Branch": "CSE", "CGPA": 7.0},
    "Ram": {"Enrollment No.": 249, "Branch": "CSE", "CGPA": 9.1},
}

# Using pd.DataFrame.from_records
df_method3 = pd.DataFrame.from_records(list(data.items()))

# Print the DataFrame
print(df_method3)

         0                                                  1
0  Shravan  {'Enrollment No.': 225, 'Branch': 'CSE', 'CGPA...
1     Jitu  {'Enrollment No.': 250, 'Branch': 'CSE', 'CGPA...
2      Ram  {'Enrollment No.': 249, 'Branch': 'CSE', 'CGPA...

In [16]:
import pandas as pd

data = {
    "Shravan": {"Enrollment No.": 225, "Branch": "CSE", "CGPA": 7.5},
    "Jitu": {"Enrollment No.": 250, "Branch": "CSE", "CGPA": 7.0},
    "Ram": {"Enrollment No.": 249, "Branch": "CSE", "CGPA": 9.1},
}

In [17]:
print("DataFrame with columns as index and rows as values (orient='index')")
df_index=pd.DataFrame.from_dict(data, orient='index')
print(df_index)

DataFrame with columns as index and rows as values (orient='index')
         Enrollment No. Branch  CGPA
Shravan             225    CSE   7.5
Jitu                250    CSE   7.0
Ram                 249    CSE   9.1

In [19]:
print("\nDataFrame with values as columns and names as rows (orient='columns')")
df_index=pd.DataFrame.from_dict(data, orient='columns')
print(df_index)

DataFrame with values as columns and names as rows (orient='columns')
               Shravan Jitu  Ram
Enrollment No.     225  250  249
Branch             CSE  CSE  CSE
CGPA               7.5  7.0  9.1